<form method="post" asp-action="Index" asp-controller="Home">
    <label for="ItemName">Item Name</label>
    <input type="text" name="ItemName" id="ItemName" />
    <label for="Price">Price</label>
    <input type="number" name="Price" id="Price" />
    <input type="submit" />
</form>